.icon-container {
    display: flex;
    /* align-items: center; */
}

.icon-container.column {
    flex-direction: column;
}

.icon-container.row {
    flex-direction: row;
}

.icon-container img {
    display: block;
}

.icon-container span {
    margin: 4px;
}
